body {
    background: linear-gradient(343deg, rgba(136,115,57 ,1) 0%, rgba(238,233,171,1) 95%)  no-repeat center center fixed;
    font-family: 'Roboto Condensed', sans-serif;
}

#main-div {
    margin: 2%;
    color:rgb(85, 36, 14)
}

#stake-form {
    margin: auto;
    width: 50%;
    border: 3px solid rgb(170, 93, 22);
    border-radius: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(170, 93, 22);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.stake-info {
    border: 3px solid rgb(170, 93, 22);
    border-radius: 25px;
    background-color: rgb(170, 93, 22);
    margin: 20px 25%;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: var(--cui-nav-link-color, #321fdb);
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  }